AWS_ACCESS_KEY_ID='<PUT_YOUR_ACCESS_KEY_HERE>'
AWS_SECRET_ACCESS_KEY='<PUT_YOUR_SECRET_KEY_HERE>'
AWS_ATHENA_DB='dlsyscourse_db'
AWS_S3_BUCKET='dlsyscourse-bucket'
AWS_S3_PREFIX='myuser/dlsyscourse-final'
